{% extends 'base.html.twig' %}

{% if app.getUser() %}
    {% set username = (app.getUser().getFullName()) ? app.getUser().getFullName() : app.getUser().getUsernameCanonical() %}
{% endif %}


{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/libs/bootstrap-4.1.0/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/libs/bootstrap-4.1.0/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/libs/bootstrap-4.1.0/css/bootstrap-reboot.min.css') }}">

    <script src="{{ asset('assets/libs/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-4.1.0/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap-4.1.0/js/bootstrap.bundle.min.js') }}"></script>
    {% block styles %}{% endblock %}
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ url('index_action') }}">TOGUZ-KORGOOL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pages
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url('index_action') }}">Home</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav flex-md-last flex-sm-last ml-md-auto d-md-flex">
                {% if app.getUser() %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url('user_profile') }}">My profile</a>
                            {#
                                //todo: ссылка на настройки игрока (профиля и возможно некоторых других элементов приложения для данного игрока)
                            #}
                            <a class="dropdown-item" href="#">Setting</a>
                            <a class="dropdown-item" href="{{ url('fos_user_security_logout') }}">Logout</a>

                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url('fos_user_security_login') }}" class="nav-link">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url('fos_user_registration_register') }}" class="nav-link">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br>
    <div class="container">
        <h1>{% block header_page %}{% endblock %}</h1>
        {% block container %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}