{% extends 'container.html.twig' %}

{% block title %}Toguz-korgool{% endblock %}
{% block container %}
    <div class="card">
        <div class="card-header">
            <h2>Тогуз коргоол</h2>
        </div>
        <div class="card-body">
            <div class="card-title">
                <p class="card-text">
                    То́гуз корго́ол (кирг. тогуз коргоол, дословный перевод — «девять горошин навоза»),
                    тогы́з кумала́к (каз.
                    тоғыз құмалақ) — киргизская и казахская народная логическая настольная игра на доске, в которой 18
                    игровых и две накопительные лунки. Игра распространена также среди каракалпаков, татар и народов
                    Сибири.
                    Турки игру называют «Dokuz korgol», упрощённая версия этой игры у казахов Монголии называется «Есен
                    коргоол».
                </p>

                <p class="card-text">
                    Игра принадлежит к семейству манкала, включающему такие игры, как вари или калах. В
                    основу игры положено
                    число 9 (девять игровых лунок, в каждой лунке изначально по девять шариков), считающееся у тюрков и
                    монголов
                    священным. Игра развивает математическое мышление и воспитывает выдержку. За свойство игры развивать
                    устный
                    счёт её ещё называют «алгеброй чабанов». Партия может продолжаться четыре-пять часов. В ходе игры
                    соперникам
                    приходится использовать все четыре основных математических действия. Игра строится не только на
                    скорости
                    подсчёта, но и на тактике.
                </p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h3 class="card-text">Инвентарь</h3>
                    <p class="card-text">
                        Доска для игры в тогуз коргоол имеет по 9 игровых лунок для каждого игрока.
                        Кроме этого, в середине доски располагаются две большие лунки для сбора выигранных камней.
                        Количество камней (кирг. коргоол) — 162 штуки.
                        Для обозначения лунки-туза используются специальные знаки, при их отсутствии могут
                        использоваться два камня отличных по форме или цвету от игровых камней.
                    </p>
                </li>
                <li class="list-group-item">
                    <h3 class="card-text">Правила</h3>
                    <div class="card-text">
                        <p>
                            <b>Обозначение лунок</b>Доска для тогуз коргоола делится на две стороны: белую (светлую) и
                            чёрную (тёмную). Лунки на
                            современных досках пронумерованы слева направо от 1 до 9 со стороны каждого игрока.
                            Традиционные
                            названия лунок (киргиз.):
                        </p>
                        <ol>
                            <li>куйрук</li>
                            <li>ат өтпөс</li>
                            <li>жаман үй</li>
                            <li>далы</li>
                            <li>бел</li>
                            <li>ак колтук</li>
                            <li>эки тишти</li>
                            <li>көк моюн</li>
                            <li>ооз</li>
                        </ol>
                        <p>
                            <b>Исходная позиция</b>
                            Перед началом игры в каждую игровую лунку раскладывают по 9 камней. Накопительная лунка
                            пуста.
                            Каждому игроку принадлежит ближний к нему ряд из 9-ти лунок (кирг. үй — дом) и одна
                            накопительная лунка (кирг. казан — котёл), располагающаяся ближе к игроку или по правую
                            руку.
                        </p>
                        <p>
                            <b>Ходы</b>
                            Ходы делают по очереди. Право первого хода взаимно оговаривается или разыгрывается жребием,
                            начинающий игру садится с белой стороны. Во время своего хода игрок берёт все камни из любой
                            своей лунки «дом» и, начиная с этой же лунки, раскладывает их по одному против часовой
                            стрелки в
                            свои и чужие дома. Если в исходной лунке только один камень, то он перекладывается в
                            следующую
                            лунку.
                        </p>
                        <p>
                            <b>Выигрыш камней</b>
                            Если последний коргоол попадает в дом соперника и количество коргоолов в нём становится
                            чётным,
                            то коргоолы из этого дома переходят в казан игрока, совершившего ход.
                        </p>
                        <div>
                            <b>Туз</b>
                            Туз — выигранная лунка на стороне соперника. Если при ходе игрока А последний коргоол
                            попадает в
                            дом игрока Б и в нём после этого оказывается три коргоола, то этот дом объявляется тузом
                            игрока
                            А (кирг. туз, соль; каз. тұзды үй). Эти три коргоола попадают в казан игрока А. В
                            последующем
                            каждый коргоол, попавший в туз, переходит в казан игрока А. Существует 3 основных правила
                            взятия
                            туза:
                            <ol>
                                <li> игрок не может завести себе туз в самом последнем (девятом) доме соперника,</li>
                                <li>игрок не может завести себе туз в доме с таким же порядковым номером, который имеет
                                    лунка-туз
                                    соперника,
                                </li>
                                <li>каждый игрок в течение игры может завести себе только один туз.</li>
                            </ol>
                            Отказаться от туза или изменить его положение нельзя. Туз действует до конца игры и для
                            удобства
                            помечается специальным знаком.
                        </div>
                        <p>
                            <b>Окончание партии</b>
                            Победа в игре достигается двумя способами:
                            1) набор в свой казан 82 коргоола или более;
                            2) у противника не осталось ходов (см. ниже «ат сыроо») и при этом он ещё не набрал 81
                            коргоол.

                            При наборе обоими игроками по 81 коргоолу объявляется ничья[3]. В турнирной партии
                            победителю
                            присуждается одно очко, в случае ничьи каждому игроку по пол-очка. Также ничья или поражение
                            могут быть объявлены в случаях оговорённых официальным кодексом соревнований (просроченное
                            время
                            обдумывания, опоздание и др.)
                        </p>
                        <p>
                            <b>Ат сыроо</b>
                            Если после хода игрока А все его дома оказываются пустыми (ход «91»), то он попадает в
                            ситуацию
                            «ат сыроо». Игрок Б делает свой очередной ход. Если после его хода в дома игрока А не
                            попадает
                            ни одного коргоола, то в этой ситуации у игрока А нет ходов и игра заканчивается. Коргоолы
                            из
                            домов игрока Б переходят в казан игрока Б и производится подсчёт коргоолов в казанах.
                        </p>
                    </div>
                </li>
                <li class="list-group-item">
                    <h3 class="card-text">Соревнования</h3>
                    <p class="card-text">
                        Соревнования по тогуз коргоолу
                        Федерация Тогуз коргоола в Кыргызстане работает с 1991 года (зарегистрирована 27 сентября 1993
                        года), а в Казахстане с 2004 года. В обеих странах эта игра является народной игрой. В некоторых
                        странах разыгрываются местные чемпионаты. В городе Пардубице (Чехия) в рамках Олимпиады по
                        интеллектуальным играм регулярно проводятся турниры по тогуз коргоолу. В 1994 году в
                        Кыргызстане был организован первый чемпионат Азии. А с 2010 года разыгрывается чемпионат мира. В
                        2011 году состоялся первый чемпионат Европы. Тогуз коргоол включён в программу Всемирных игр
                        кочевников первые из которых прошли в сентябре 2014 года в г. Чолпон-Ата (Кыргызстан)
                    </p>
                </li>
                <li class="list-group-item">
                    <h3 class="card-text">Запись ходов</h3>
                    <p class="card-text">
                        Запись ходов в тогуз коргоол несколько проще, чем аналогичная шахматная
                        нотация. Каждый ход записывается двузначным числом. Первая цифра числа — номер исходной лунки,
                        вторая — номер лунки в которую попал последний коргоол. При взятии туза после двузначного числа
                        ставится знак Х. Также в ходе игры в специальных таблицах-диаграммах могут фиксироваться
                        промежуточные положения на доске. Каждая ячейка диаграммы обозначает лунку на доске. В ячейки
                        записываются количества коргоолов в соответствующих лунках. Ячейка-туз обозначается знаком Х.
                        Пустые лунки обозначаются прочерком. В нижнем ряду диаграммы белые лунки, в верхнем — чёрные. В
                        выделенные ячейки записывается количество коргоолов в казанах.
                    </p>
                </li>
                <li class="list-group-item">
                    <h3 class="card-text">В культуре</h3>
                    <div class="card-text">
                        Тогуз коргоол упоминается в главном киргизском эпосе Манас (фрагмент на
                        киргизском языке):

                    <blockquote>Жалпак жыгач чаптырып,
                        Чараларын оюшуп
                        Бир жагына бир тогуз,
                        Бир жагына бир тогуз,
                        Үй чыгарып коюшуп…
                        Ою менен олтуруп,
                        Ташын салып толтуруп,
                        Тогуз коргоол ойноду,
                        Ордо, тогуз коргоол деп,
                        Жаш Манас кылып койгону…
                        Тогуздан коргоол салганы,
                        Бу Манастан калганы…
                    </blockquote>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

